@import './config.scss';

.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 1px solid white;
    border-radius: 20px;
    
    input{
        margin-right: 20px;
    }
}